[project]
name = "py"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = []

[dependency-groups]
dev = [
    "basedpyright>=1.33.0",
    "isort>=7.0.0",
    "pytest>=9.0.0",
    "ruff>=0.14.4",
]
