name: Test C++ Library 

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install Boost
      run: brew install boost

    - name: Configure CMake
      run: >
        cmake -B ${{ github.workspace }}/cpp/test/build
        -DCMAKE_CXX_COMPILER=clang++
        -S ${{ github.workspace }}/cpp/test/

    - name: Build
      run: cmake --build ${{ steps.strings.outputs.build-output-dir }}

    - name: Test
      working-directory: ${{ steps.strings.outputs.build-output-dir }}
      run: |
        ${{ steps.strings.outputs.build-output-dir }}/test_algorithms
        ${{ steps.strings.outputs.build-output-dir }}/test_data_structures
