name: Test C++ Library 

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set reusable strings
      id: strings
      shell: bash
      run: |
        echo "build-output-dir=${{ github.workspace }}/cpp/test/build" >> "$GITHUB_OUTPUT"

    - name: Install Boost
      run: brew install boost

    - name: Configure CMake
      run: >
        cmake -B ${{ steps.strings.outputs.build-output-dir }}
        -DCMAKE_CXX_COMPILER=clang++
        -S ${{ github.workspace }}/cpp/test/

    - name: Build
      run: cmake --build ${{ steps.strings.outputs.build-output-dir }} --config ${{ matrix.build_type }}

    - name: Test
      working-directory: ${{ steps.strings.outputs.build-output-dir }}
      run: ${{ steps.strings.outputs.build-output-dir }}/test_algorithms && ${{ steps.strings.outputs.build-output-dir }}/test_data_structures
