name: Test Python Library

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Install uv
      uses: actions/setup-uv@v4
      with:
        version: "latest"
      
    - name: Install dependencies
      working-directory: py
      run: uv sync --dev

    - name: Run pytest
      working-directory: py
      run: uv run -m pytest -v
