name: Test Rust Library

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Build
      working-directory: rs
      run: cargo build --verbose
      
    - name: Run tests
      working-directory: rs
      run: cargo test --verbose
